.App {
  height: 100%;
}
.App-header{
  background-image: url("img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vmin;
  position: relative;
}
/*.App-logo {*/
/*  height: 40vmin;*/
/*}*/
.Count-down{
  position: absolute;
  right: 80px;
  top:30px;
  display: flex;
  flex-direction: row;
  color: #fff;
 align-items: center;
}
.square{
  color: #2D2765;
  margin:0 5px;
  padding: 3px;
background-color: #D7D4FC;
}

@media (max-width: 768px) {
  .App-header {
   background-image: url("img_1.png");
    background-size: 100% 100%;
    height: 100vmin;
  }
  .Count-down{
    top:unset;
    right: unset;
   bottom:35vmin;
    left: 10vmin;
  }
}
